<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257461351632-vj0jltq3pp34h079cafjf9fcrv733qqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257461351632-vj0jltq3pp34h079cafjf9fcrv733qqg</string>
	<key>API_KEY</key>
	<string>AIzaSyBo-1yRbk5Yu24DiyBlltRX6ggGez0glrk</string>
	<key>GCM_SENDER_ID</key>
	<string>257461351632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itwithakmaljon.flutterchat</string>
	<key>PROJECT_ID</key>
	<string>flutterchat-41710</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchat-41710.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257461351632:ios:516cb63cfdf4066c2f5ad5</string>
</dict>
</plist>